<template>
  <div class="modal-overlay">
    <div class="post-modal card">
      <span class="close-modal" @click="$emit('close')">✖</span>
      <label for="post-title">Заголовок</label>
      <input type="text" id="post-title" v-model="post.title" />
      <label for="post-description">Краткое описание</label>
      <textarea id="post-description" v-model="post.description"></textarea>
      <button
        v-if="isEdit"
        class="primary-button"
        :disabled="!notEmpty"
        @click="editPost()"
      >Изменить пост</button>
      <button v-else class="primary-button" :disabled="!notEmpty" @click="addPost()">Добавить пост</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    editedPost: Object
  },
  data() {
    return {
      post: {
        title: "",
        description: ""
      }
    };
  },
  methods: {
    addPost() {
      this.$store.dispatch("addPost", this.post);
      this.$emit("close");
    },
    editPost() {
      this.$store.dispatch("editPost", this.post);
      this.$emit("close");
    }
  },
  computed: {
    notEmpty() {
      return this.post.title.length > 0 && this.post.description.length > 0;
    },
    isEdit() {
      return this.editedPost.title.length > 0;
    }
  },
  mounted() {
    this.post = { ...this.editedPost };
  }
};
</script>

<style scoped>
</style>