<template>
  <div class="modal-overlay">
    <div class="post-modal card">
      <p>Вы уверены что хотите удалить этот пост?</p>
      <div class="modal-action">
        <button class="primary-button positive-btn" @click="$emit('confirm')">Да</button>
        <button class="primary-button negative-btn" @click="$emit('close')">Нет</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.modal-action{
  width: 100%;
  display: flex;
  justify-content: center;
}
.negative-btn{
  background-color: #2c3e50;
}
</style>