<template>
  <div class="edit-posts">
    <button class="primary-button add-post-btn" @click="addPost()">Добавить Пост</button>
    <PostGrid @deletePost="deletePost($event)" @editPost="editPost($event)" />
    <AddPost v-if="addModal" :editedPost="editedPost" @close="addModal = false" />
    <ConfirmDelete v-if="confirmModal" @close="confirmModal = false" @confirm="confirmDelete()" />
  </div>
</template>

<script>
import PostGrid from "../components/PostGrid";
import AddPost from "../components/modals/AddPost";
import ConfirmDelete from "../components/modals/ConfirmDelete";

export default {
  name: "Edit",
  components: {
    PostGrid,
    AddPost,
    ConfirmDelete
  },
  data() {
    return {
      addModal: false,
      confirmModal: false,
      postId: null,
      editedPost: {
        title: "",
        description: ""
      }
    };
  },
  methods: {
    addPost() {
      this.editedPost = {
        title: "",
        description: ""
      };
      this.addModal = true;
    },
    deletePost(id) {
      this.postId = id;
      this.confirmModal = true;
    },
    confirmDelete() {
      this.$store.dispatch("deletePost", this.postId);
      this.confirmModal = false;
    },
    editPost(post) {
      this.editedPost = { ...post };
      this.addModal = true;
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (!vm.$store.getters.isUser) next("/login");
    });
  }
};
</script>

<style>
.add-post-btn {
  margin-bottom: 20px;
  padding: 10px;
}
</style>