<template>
  <div class="login">
    <div class="form-login card">
      <label for="login">Логин</label>
      <input type="text" id="login" v-model="user.login" />
      <label for="password">Пароль</label>
      <input type="password" name="password" id="password" v-model="user.password" />
      <button class="primary-button" :disabled="!notEmpty" @click="setUser()">Войти</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      user: {
        login: "",
        password: ""
      }
    };
  },
  methods: {
    setUser() {
      this.$store.commit("setUser", this.user);
      sessionStorage.setItem("user", JSON.stringify(this.user));
      this.$router.push("/edit");
    }
  },
  computed: {
    notEmpty() {
      return this.user.login.length > 0 && this.user.password.length > 0;
    }
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (vm.$store.getters.isUser) next("/edit");
    });
  }
};
</script>

<style scoped>
.login {
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-login {
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-login input {
  width: 100%;
  margin-bottom: 15px;
}
</style>
