<template>
  <div class="posts-grid">
    <div class="post-item card" v-for="post in getPosts" :key="post.id">
      <img src="@/assets/post-image.jpg" alt="post image" />
      <h4>{{post.title}}</h4>
      <p>{{post.description}}</p>
      <div class="post-item-overlay" v-if="isEdit">
        <button class="primary-button delete-post" @click="deletePost(post.id)">Удалить</button>
        <button class="primary-button" @click="editPost(post)">Редактировать</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      rout: ""
    };
  },
  methods: {
    checkRout() {
      this.rout = this.$router.currentRoute.path;
    },
    deletePost(id) {
      this.$emit("deletePost", id);
    },
    editPost(post) {
      this.$emit("editPost", post);
    }
  },
  computed: {
    getPosts() {
      let posts = this.$store.getters.getPosts;
      // SORT POSTS BY LAST ADDED
      return posts.sort((a, b) => (a.id < b.id ? 1 : -1));
    },
    isEdit() {
      return this.rout == "/edit";
    }
  },
  mounted() {
    this.checkRout();
  }
};
</script>

<style>
.posts-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.post-item {
  flex-basis: 300px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.post-item:hover {
  transform: scale(1.1);
}
.post-item img {
  width: 100%;
}
.post-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}
.post-item-overlay:hover {
  opacity: 1;
}
.delete-post {
  margin-bottom: 15px;
  padding: 5px 25px;
}
</style>