<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Главная</router-link>
      <router-link v-if="isUser" to="/edit">Редактирование статей</router-link>
      <button v-if="isUser" class="nav-button" @click="logOut()">Выход</button>
      <router-link v-else to="/login">Вход</router-link>
    </div>
    <div class="container">
      <router-view />
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    logOut() {
      this.$store.commit("clearUser");
      sessionStorage.removeItem("user");
      this.$router.push("/");
    },
    checkUser() {
      let user = JSON.parse(sessionStorage.getItem("user"));
      if (user) {
        this.$store.commit("setUser", user);
      }
    },
    checkPosts() {
      let posts = JSON.parse(sessionStorage.getItem("posts"));
      if (posts) {
        this.$store.commit("postsFromStorage", posts);
      }
    }
  },
  computed: {
    isUser() {
      return this.$store.getters.isUser;
    }
  },
  mounted() {
    this.checkUser();
    this.checkPosts();
  }
};
</script>
<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 5px 50px 5px 50px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0);
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  padding: 5px;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.container {
  padding: 20px 50px 0 50px;
}

.card {
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0);
  border-radius: 4px;
  border: 1px solid #ccc;
}

.primary-button {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  color: #fff;
  background-color: #42b983;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.primary-button:hover {
  background-color: #21724d;
}

.primary-button:disabled {
  background-color: #ccc;
}

.nav-button {
  border: none;
  background-color: transparent;
  color: #2c3e50;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: red;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.post-modal {
  width: 300px;
  padding: 15px;
  position: absolute;
  top: 40%;
  left: calc(50% - 150px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
}
.post-modal input,
textarea {
  width: 100%;
  margin-bottom: 15px;
  resize: vertical;
}
</style>
